<!-- Navbar -->
<nav class="layout-navbar bg-navbar-theme">
    <NavLink class="nav-item " href="/">
        Tarea 2
    </NavLink>

    <div class="nav-item">
        <NavLink class="nav-link " href="/acerca_de">
            Acerca de
        </NavLink>

        Jenry Jose Sanchez 2023-1080
        <i class="fa-solid fa-user"></i>
    </div>
</nav>
<!-- / Navbar -->
