<!-- Menu -->
<aside class="layout-menu opened bg-menu-theme">

    <NavLink href="/" class="app-brand">
        <img src="https://dr1.com/wordpress/wp-content/uploads/2020/02/ITLA-2-logo-1024x515.png" />
    </NavLink>

    <ul class="menu-inner">
        <NavLink href="/aprende_mas" class="menu-item" ActiveClass="active">
            <i class="fa-solid fa-video"></i>Aprende Más
        </NavLink>

        <NavLink href="/calculadora" class="menu-item" ActiveClass="active">
            <i class="fa-solid fa-calculator"></i>
            <div>Calculadora</div>
        </NavLink>
        <NavLink href="/tabla_multiplicar" class="menu-item" ActiveClass="active">
            <i class="fa-solid fa-table"></i>
            <div>Tabla de Multiplicar</div>
        </NavLink>
        <NavLink href="/acerca_de" class="menu-item" ActiveClass="active">
            <i class="fa-solid fa-address-card"></i>
            <div>Acerca de</div>
        </NavLink>
    </ul>
</aside>
<!-- / Menu -->