@page "/acerca_de"
@rendermode InteractiveServer

<PageTitle>Acerca</PageTitle>


<div class="card animation_content" style="margin: auto; max-width: 450px">
    <img src="image.png" alt="Foto 2x2" class="img-2x2" />

    <div class="card-content">
        <h2>Jenry Jose Sanchez Hodge</h2>
        <p>✉️Jenrydev@gmail.com</p>
        <p style="text-align: justify">
            Me gustaría dedicarme a la programación, especialmente
            enfocada en el desarrollo de software que tenga el poder de
            transformar vidas y solucionar problemas que afectan a muchas
            personas. Mi objetivo es crear herramientas que no solo
            resuelvan necesidades, sino que también aporten un valor
            significativo en el día a día de quienes las utilicen,
            generando un impacto positivo y duradero.
        </p>
        <a href="https://t.me/Jenry162" class="button">Telegram</a>
    </div>
</div>
