@page "/calculadora"
@rendermode InteractiveServer
<PageTitle>Calculadora</PageTitle>

<div class="calculator animation_content">
    <input type="text" class="calculator-screen" @bind="display" disabled />
    <div class="calculator-keys">
        <button type="button" class="operator" @onclick="() => AppendNumber('+')">+</button>
        <button type="button" class="operator" @onclick="() => AppendNumber('-')">-</button>
        <button type="button" class="operator" @onclick="() => AppendNumber('*')">&times;</button>
        <button type="button" class="operator" @onclick="() => AppendNumber('/')">&divide;</button>

        <button type="button" @onclick="() => AppendNumber('7')">7</button>
        <button type="button" @onclick="() => AppendNumber('8')">8</button>
        <button type="button" @onclick="() => AppendNumber('9')">9</button>

        <button type="button" @onclick="() => AppendNumber('4')">4</button>
        <button type="button" @onclick="() => AppendNumber('5')">5</button>
        <button type="button" @onclick="() => AppendNumber('6')">6</button>

        <button type="button" @onclick="() => AppendNumber('1')">1</button>
        <button type="button" @onclick="() => AppendNumber('2')">2</button>
        <button type="button" @onclick="() => AppendNumber('3')">3</button>

        <button type="button" @onclick="() => AppendNumber('0')">0</button>
        <button type="button" @onclick="() => AppendNumber('.')">.</button>
        <button type="button" class="equal-sign" @onclick="CalculateResult">=</button>

        <button type="button" class="all-clear" @onclick="ClearAll">AC</button>
    </div>
</div>

@code {
    private string display = "";

    private void AppendNumber(dynamic number)
    {
        display += number;
    }

    private void CalculateResult()
    {
        try
        {
            var result = new System.Data.DataTable().Compute(display, null);
            display = result.ToString() ?? "";

        }
        catch
        {
            display = "Error";
        }
    }

    private void ClearAll()
    {
        display = "";
    }
}
