@page "/"

<PageTitle>Menu</PageTitle>



<div class="content_home animation_content">
    <div class="col">
        <h1 style="margin-bottom: 50px;">Ejercicios</h1>

        <div class="row">
            <NavLink href="/ejercicio/2" class="flex-item">
                <div class="columna card-custom">
                    <i class="fa-solid fa-gamepad"></i>
                    <h2>Ejercicio 2</h2>
                </div>
            </NavLink>
            <NavLink href="/ejercicio/4" class="flex-item">
                <div class="columna card-custom">
                    <i class="fa-solid fa-cogs"></i>
                    <h2>Ejercicio 4</h2>
                </div>
            </NavLink>
            <NavLink href="/ejercicio/6" class="flex-item">
                <div class="columna card-custom">
                    <i class="fa-solid fa-chart-line"></i>
                    <h2>Ejercicio 6</h2>
                </div>
            </NavLink>
            <NavLink href="/ejercicio/8" class="flex-item">
                <div class="columna card-custom">
                    <i class="fa-solid fa-calendar"></i>
                    <h2>Ejercicio 8</h2>
                </div>
            </NavLink>
            <NavLink href="/ejercicio/10" class="flex-item">
                <div class="columna card-custom">
                    <i class="fa-solid fa-users"></i>
                    <h2>Ejercicio 10</h2>
                </div>
            </NavLink>
            <NavLink href="/ejercicio/12" class="flex-item">
                <div class="columna card-custom">
                    <i class="fa-solid fa-bell"></i>
                    <h2>Ejercicio 12</h2>
                </div>
            </NavLink>
            <NavLink href="/ejercicio/14" class="flex-item">
                <div class="columna card-custom">
                    <i class="fa-solid fa-lock"></i>
                    <h2>Ejercicio 14</h2>
                </div>
            </NavLink>
            <NavLink href="/ejercicio/16" class="flex-item">
                <div class="columna card-custom">
                    <i class="fa-solid fa-globe"></i>
                    <h2>Ejercicio 16</h2>
                </div>
            </NavLink>
            <NavLink href="/ejercicio/18" class="flex-item">
                <div class="columna card-custom">
                    <i class="fa-solid fa-rocket"></i>
                    <h2>Ejercicio 18</h2>
                </div>
            </NavLink>
            <NavLink href="/ejercicio/20" class="flex-item">
                <div class="columna card-custom">
                    <i class="fa-solid fa-heart"></i>
                    <h2>Ejercicio 20</h2>
                </div>
            </NavLink>
            <NavLink href="/ejercicio/22" class="flex-item">
                <div class="columna card-custom">
                    <i class="fa-solid fa-shopping-cart"></i>
                    <h2>Ejercicio 22</h2>
                </div>
            </NavLink>
            <NavLink href="/ejercicio/24" class="flex-item">
                <div class="columna card-custom">
                    <i class="fa-solid fa-bolt"></i>
                    <h2>Ejercicio 24</h2>
                </div>
            </NavLink>
            <NavLink href="/ejercicios/26" class="flex-item">
                <div class="columna card-custom">
                    <i class="fa-solid fa-cloud"></i>
                    <h2>Ejercicio 26</h2>
                </div>
            </NavLink>
            <NavLink href="/ejercicios/28" class="flex-item">
                <div class="columna card-custom">
                    <i class="fa-solid fa-pencil-alt"></i>
                    <h2>Ejercicio 28</h2>
                </div>
            </NavLink>
            <NavLink href="/ejercicios/30" class="flex-item">
                <div class="columna card-custom">
                    <i class="fa-solid fa-file-alt"></i>
                    <h2>Ejercicio 30</h2>
                </div>
            </NavLink>
            <NavLink href="/ejercicios/32" class="flex-item">
                <div class="columna card-custom">
                    <i class="fa-solid fa-camera"></i>
                    <h2>Ejercicio 32</h2>
                </div>
            </NavLink>
            <NavLink href="/ejercicios/34" class="flex-item">
                <div class="columna card-custom">
                    <i class="fa-solid fa-music"></i>
                    <h2>Ejercicio 34</h2>
                </div>
            </NavLink>
            <NavLink href="/ejercicios/36" class="flex-item">
                <div class="columna card-custom">
                    <i class="fa-solid fa-book"></i>
                    <h2>Ejercicio 36</h2>
                </div>
            </NavLink>
            <NavLink href="/ejercicios/38" class="flex-item">
                <div class="columna card-custom">
                    <i class="fa-solid fa-video"></i>
                    <h2>Ejercicio 38</h2>
                </div>
            </NavLink>
            <NavLink href="/ejercicios/40" class="flex-item">
                <div class="columna card-custom">
                    <i class="fa-solid fa-wrench"></i>
                    <h2>Ejercicio 40</h2>
                </div>
            </NavLink>
            <NavLink href="/ejercicios/42" class="flex-item">
                <div class="columna card-custom">
                    <i class="fa-solid fa-map-marker-alt"></i>
                    <h2>Ejercicio 42</h2>
                </div>
            </NavLink>
            <NavLink href="/ejercicios/44" class="flex-item">
                <div class="columna card-custom">
                    <i class="fa-solid fa-comments"></i>
                    <h2>Ejercicio 44</h2>
                </div>
            </NavLink>
            <NavLink href="/ejercicios/46" class="flex-item">
                <div class="columna card-custom">
                    <i class="fa-solid fa-archive"></i>
                    <h2>Ejercicio 46</h2>
                </div>
            </NavLink>
            <NavLink href="/ejercicios/48" class="flex-item">
                <div class="columna card-custom">
                    <i class="fa-solid fa-calendar-alt"></i>
                    <h2>Ejercicio 48</h2>
                </div>
            </NavLink>
            <NavLink href="/ejercicios/50" class="flex-item">
                <div class="columna card-custom">
                    <i class="fa-solid fa-cube"></i>
                    <h2>Ejercicio 50</h2>
                </div>
            </NavLink>
        </div>

    </div>

</div>