@page "/"

<PageTitle>Home</PageTitle>



<div class="content_home animation_content">
    <div class="columna ">
        <h1>Bienvenido a mi pagina gracias por venir ! 🎉</h1>
        <p style="max-width: 350px; margin: auto;">
            "Aprender a programar es darle vida a tus ideas y crear un futuro lleno de posibilidades."</p>
    </div>

    <img src="bienvenida.png" alt="bienvenida">
</div>